[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/bsamuels/Desktop/dfsdsfdsf]
row=4
col=0

[/home/bsamuels/Desktop/asdasdas]
row=3
col=0

[Trash]
row=0
col=0

[/]
row=1
col=0

[/home/bsamuels]
row=2
col=0

